/* Reset dei margini e dei padding per tutti gli elementi */
body, h1, p, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", monospace;
  line-height: 1.6;
  background-color: #000;
  color: #0f0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 30px;
  color: #0f0;
}

#news-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item {
  border-bottom: 1px solid #444;
  padding: 10px 0;
}

.news-item:last-child {
  border-bottom: none;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  color: #0f0;
  margin-bottom: 5px;
}

.news-url {
  font-size: 14px;
  color: #ccc;
  text-decoration: none; 
}

.news-url:hover {
  color: #0f0; 
}

#load-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #0f0; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#load-more-button:hover {
  background-color: #090; 
}
